# This file contains pin mappings for the stock 2020 Creality Ender 6.
# To use this config, during "make menuconfig" select the STM32F103
# with a "28KiB bootloader" and serial (on USART1 PA10/PA9)
# communication.

# Because this printer has factory wiring, mounts, and firmware for
# a BLTouch, but does not ship with one at this time, default values
# for the sensor have been specified, but disabled, in anticipation of
# future revisions or user modification. User should take care to
# customize the offsets, particularly z-offset, for their specific unit.

# If you prefer a direct serial connection, in "make menuconfig"
# select "Enable extra low-level configuration options" and select
# serial (on USART3 PB11/PB10), which is broken out on the 10 pin IDC
# cable used for the LCD module as follows:
# 3: Tx, 4: Rx, 9: GND, 10: VCC

# Flash this firmware by copying "out/klipper.bin" to a SD card and
# turning on the printer with the card inserted. The firmware
# filename must end in ".bin" and must not match the last filename
# that was flashed.

# See docs/Config_Reference.md for a description of parameters.

[stepper_y]
step_pin: PF13
dir_pin: !PF12
enable_pin: !PF14
microsteps: 16
rotation_distance: 40
endstop_pin: ^PG6
position_endstop: 0
position_max: 260
homing_speed: 50
[tmc2208 stepper_x]
uart_pin: PC4
run_current: 0.800
stealthchop_threshold: 999999
uart_address: 0
[stepper_x]
step_pin: PG0
dir_pin: PG1
enable_pin: !PF15
microsteps: 16
rotation_distance: 40
endstop_pin: ^PG10
position_endstop: 0
position_max: 260
homing_speed: 50
[tmc2208 stepper_y]
uart_pin: PD11
run_current: 0.800
stealthchop_threshold: 999999
uart_address: 0
[stepper_z]
step_pin: PF11
dir_pin: !PG3
enable_pin: !PG5
microsteps: 16
rotation_distance: 8
position_endstop: 0.0                     # disable to use BLTouch
endstop_pin: ^PG9                         # disable to use BLTouch
# endstop_pin: probe:z_virtual_endstop    # enable to use BLTouch
# position_min: -5                        # enable to use BLTouch
position_max: 400
[tmc2208 stepper_z]
uart_pin: PC6
run_current: 0.800
stealthchop_threshold: 999999
uart_address: 0
# [safe_z_home]                           # enable for BLTouch
# home_xy_position: 150.7, 137
# speed: 100
# z_hop: 10
# z_hop_speed: 5

# [bltouch]                               # enable for BLTouch
# sensor_pin: ^PB1
# control_pin: PB0
# x_offset: -20.7
# y_offset: -7
# z_offset: 2.4
# speed: 3.0

# [bed_mesh]                              # enable for BLTouch
# speed: 100
# mesh_min: 10, 10
# mesh_max: 239, 239
# algorithm: bicubic
# probe_count: 5, 5

[extruder]
# MOTOR3
max_extrude_only_distance: 1000.0
step_pin: PG4
dir_pin: PC1
enable_pin: !PA0
microsteps: 16
rotation_distance: 3.4334
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PF4
control = pid
pid_kp = 20.344
pid_ki = 0.935
pid_kd = 110.618
min_temp: 0
max_temp: 260
[tmc2208 extruder]
uart_pin: PC7
run_current: 0.8
stealthchop_threshold: 0
uart_address: 0
[heater_bed]
# BED_OUT
heater_pin: PA1
# TB
sensor_pin: PF3
sensor_type: EPCOS 100K B57560G104F
control: pid
pid_Kp: 327.11
pid_Ki: 19.20
pid_Kd: 1393.45
min_temp: 0
max_temp: 100



[filament_switch_sensor e0_sensor]
switch_pin: PA4


[heater_fan extruder_fan]
# FAN0
pin: PA8
heater: extruder
heater_temp: 50.0
fan_speed: 1.0

# Part cooling fan
[fan]
# FAN1
pin: PE5
max_power: 0.5
[temperature_sensor mcu_temp]
sensor_type: temperature_mcu

[temperature_sensor host_temp]
sensor_type: temperature_host

[fan_generic mcu_fan]
pin: PD15


[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_1F001D000150314D35323820-if00
restart_method: command

[printer]
kinematics: corexy
max_velocity: 500
max_accel: 2000
max_z_velocity: 10
max_z_accel: 100

[bed_screws]
screw1: 25 , 25
screw2: 25, 225
screw4: 225, 25
screw3: 225,225
[virtual_sdcard]
path: ~/gcode_files

[neopixel mainlight]
pin: PB0
chain_count:7
color_order: GRBW
initial_WHITE: 1

[gcode_macro PRINT_LED]
gcode:
  SET_LED LED=mainlight GREEN=0 RED=0 BLUE=1 WHITE=0.8
[gcode_macro HEAT_LED]
gcode:
  SET_LED LED=mainlight GREEN=0.3 RED=1 BLUE=0 WHITE=0
[gcode_macro FINISH_LED]
gcode:
  SET_LED LED=mainlight GREEN=1 RED=0 BLUE=0 WHITE=0.1
[display_status]
[pause_resume]
[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
# change this if you need more or less extrusion
variable_extrude: 1.0
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  ##### set park positon for x and y #####
  # default is your max posion from your printer.cfg
  {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
  {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
  ##### calculate save lift position #####
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% if act_z < (max_z - 2.0) %}
      {% set z_safe = 2.0 %}
  {% else %}
      {% set z_safe = max_z - act_z %}
  {% endif %}
  ##### end of definitions #####
  PAUSE_BASE
  G91
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G1 E-{E} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}
  {% if "xyz" in printer.toolhead.homed_axes %}
    G1 Z{z_safe} F900
    G90
    G1 X{x_park} Y{y_park} F6000
  {% else %}
    {action_respond_info("Printer not homed")}
  {% endif %} 

[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  #### get VELOCITY parameter if specified ####
  {% if 'VELOCITY' in params|upper %}
    {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
  {%else %}
    {% set get_params = "" %}
  {% endif %}
  ##### end of definitions #####
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G91
    G1 E{E} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}  
  RESUME_BASE {get_params}

[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
gcode:
  TURN_OFF_HEATERS
  CANCEL_PRINT_BASE
  G91
  G1 Z10 F500
  G28 X Y
  M84
  SET_LED LED=mainlight GREEN=0 RED=1 BLUE=0 WHITE=0.2
[delayed_gcode fanon]
initial_duration: 1
gcode:
  SET_FAN_SPEED FAN=mcu_fan SPEED=0.37

[gcode_macro PRINT_PURGE_LINE]
gcode:
  SET_LED LED=mainlight GREEN=1 RED=1 BLUE=0 WHITE=0
  M82 ;absolute extrusion mode
  G28 ;Home
  SET_LED LED=mainlight GREEN=0 RED=0 BLUE=1 WHITE=0.5
  G92 E0 ;Reset Extruder
  G1 Z2.0 F3000 ;Move Z Axis up
  G1 X10.1 Y20 Z0.28 F5000.0 ;Move to start position
  G1 X10.1 Y200.0 Z0.28 F1500.0 E15 ;Draw the first line
  G1 X10.4 Y200.0 Z0.28 F5000.0 ;Move to side a little
  G1 X10.4 Y20 Z0.28 F1500.0 E30 ;Draw the second line
  G92 E0 ;Reset Extruder
  G1 Z2.0 F3000 ;Move Z Axis up
  SET_LED LED=mainlight GREEN=1 RED=0 BLUE=1 WHITE=0
  G28 X Y
  G1 Z10.0 F3000 ;Move Z Axis up
  SET_LED LED=mainlight GREEN=1 RED=0 BLUE=0 WHITE=0.1
  G90